:host {
  display: block;
  width: 100%;
  overflow-x: hidden !important;
}

@media (max-width: 767px) {
  .desktop-header-row {
    display: none !important;
  }

  .card-grid-row {
    grid-template-columns: 1fr !important;
    gap: 8px !important;
  }

  .mobile-label {
    display: block !important;
  }
}
